#   |--------------------------------------------------------------------------
#   | Application Scheduler
#   | AUTHORS:
#   | Author Name		Raffaele Ficcadenti
#   | Author email		raffaele.ficcadenti@gmail.com
#   |
#   | FILE
#   | .gitignore
#   |
#   | HISTORY:
#   | -[Date]-      -[Who]-               -[What]-
#   | 01-03-2017    Ficcadenti Raffaele   Versione 1.0 
#   |--------------------------------------------------------------------------
#   |
#   | 

*.log
*.lock
*.csv
*.imp
.metadata
.settings
.project
.buildpath
AdwordsAPIExample
vendor
/nbproject