<!--
| ***********************************************************************
| Application Scheduler
| AUTHORS:
| Author Name       Raffaele Ficcadenti
| Author email      raffaele.ficcadenti@gmail.com
|
| FILE
| config.xml
|
| HISTORY:
| -[Date]-      -[Who]-               -[What]-
| 01-03-2017    Ficcadenti Raffaele   Versione 1.0 
| ***********************************************************************
|
| Schedulatore per avviare batch di download dati AdWords
-->
<configuration xmlns="http://logging.apache.org/log4php/">
    <appender name="myAppender" class="LoggerAppenderFile">
        <param name="file" value="scheduler.log" />
    </appender>
    <root>
        <level value="INFO" />
        <appender_ref ref="myAppender" />
    </root>
</configuration>